/* mejor  */

*{
      font-family: "Poppins", sans-serif;
        /* margin: 0px;
      padding: 0px; */
      box-sizing: border-box;
}

.common-title{
    font-size: 36px;
    font-weight:bold ;
    color: #1F1F1F;
}
.btn-pink{
   border-radius: 14px; 
   padding:16px 28px ;
   background:linear-gradient(#FF136F,#FF589B);
   border: none;
   width: 168px;
    height: 52px;
    color: white;
    font-size: 16px;
    font-weight: 500;
   
   /* background-color: #FF136F; */
}
.btn{
   border-radius: 10px; 
   padding:16px 28px ;
   background-color: #000000;
   border: none;
   width: 128px;
    height: 52px;
    color: white;
    font-size: 12px;
    font-weight: medium;
    align-items: center;
    margin: 20px 96px;
   
   /* background-color: #FF136F; */
}
.see-all{
    font-size: 30px;
    font-weight: medium;
    color: #FF9D00;
}

/* big  */
.banner-container{
     width: 84%;
    margin:0px auto 64px auto;
}
.container{
    /* max-width: 84%; */
    /* max-width: 79%; */
    max-width: 1200px;
    margin: auto;
}

/* small  */
.categories-container,.shoes{
    width: 79%%;
    margin:0px auto 100px auto;
}
.categories,.shoes{
    /* max-width: 84%; */
    /* max-width: 79%; */
    max-width: 1128px;
    margin: auto;
}


/* header */
.header-item{
    margin-top: 40px;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-top: 49px;
    
}
.nav-items{
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: ;
       
}
.nav-items li{

}
.nav-items li a{
    text-decoration: none;
    color: #707070;
    font-size: 16px;
    font-weight: 500px;

}
.search-parent{
position: relative;
/* color: #F1F1F1; */
  color: #BABABA;
}
.search-parent input{
    background: rgb(241, 241, 241);
    border-radius: 66px;
    width: 500px;
    padding: 16px  30px ;
    font-size: 16px;
    font-weight: medium;
    color: #CCCCCC;
    border: none;
}
.search-parent i{
    position: absolute;
    top: 17px;
    right: 20px;
  
}
/* banner */

.banner{
    background-color: #FEEAE9;
    border-radius:10px ;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding: 48px;
     margin-top: 55px;
}

.banner img{
    width: 402px;
    height: 378px;
}
.banner p{
font-size: 16px;
    font-weight:300;
    color: #4E4E4E;
    margin-bottom: 8px;
}
.banner h1{
    font-size: 56px;
    font-weight:bold;
    color: #1F1F1F;
    margin-bottom: 8px;
}
.banner-price{
    font-size: 41px;
    font-weight:500;
    color: #FF136F;
    margin-bottom: 8px;
    /* display: block; */

}


/* categories-container */

.card{
    display: flex;
    flex: 1;
    justify-content:space-between ;
    align-items: center;
    gap: 5px;
    /* width: 359px;
    height: 120px; */
    padding: 20px;
    border-radius: 10px;
    background:linear-gradient(#FFD019,#FF9C35);
}

.card h3{
    font-size: 36px;
    font-weight:500 ;
    color: #FFFFFF;
}

.categories-card{
    display: flex;
    gap: 25px; 
}
.card2{
background: linear-gradient( rgb(255, 88, 155) -0.006%,rgb(255, 19, 111) 99.994%);
}
.card3{
    background:linear-gradient(#3F07F8,#4289FF);
}

/* main  */
.shoes-container{
    background-color: #F4F4F4;
}
 /* shoes  */
 .shoes{
    margin-bottom: 30px;
 }
 .shoes-text{
    display: flex;
    justify-content: space-between;
    
    
 }
 .shoes-cards{

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding-bottom: 16px;

 }
 .shoes-card{
    background-color: white;
    border-radius: 20px;
    align-items: center;
    text-align: center;
 }
 .shoes-1{
    width:336px;
     height:203px;
 }
 .shoes-card p{
   font-size: 18px;
   color: #4E4E4E;
    padding: 0px 20px;
    
 }
 .shoes-card p .taka{
    font-size: 24px;
    font-weight:800px ;
    color:black;
 }
  .shoes-card h3{
    font-size: 24px;
    font-weight:600 ;
    color: #1F1F1F;
    padding: 0px 20px;
  }
 .bag1{
    width:290px ;
    height:290px ;
 }
 /* footer-content */
 .footer-content{
   text-align: center;
  
 }